<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='input_form.css') }}">
    <title>Welcome to console</title>
</head>
<body>
    <div class = "input_form">
        <form class = "input_text" name = "input_form" method = "post">

                <div class="col-155">
                    <input type="text" class = "input_form_text" name="login_form" placeholder="Input login...">
                </div>

                <div class="col-155">
                    <input type="password" name="password_form" class = "input_form_text" placeholder="Input password...">
                </div>



        <div class = "input_button">
            <button type="submit" value="input_button" name="btn_console">Sing in</button>
        </div>
            </form>
    </div>

<canvas></canvas>

<script>

	const C = document.querySelector("canvas"),
  $ = C.getContext("2d"),
  W = (C.width = window.innerWidth),
  H = (C.height = window.innerHeight);

const str = "六七八九六七八九上左中二大小川人口先対イキま三ジキただちになおす対イキま取カセち使ケチた勝みスず坂タバシ待ョウぼち業安八爸百北不大岛的弟地东都对多儿二F方港哥个关贵国过海好很会家见叫姐京九可老李零六吗妈么没美妹们名明哪那南你您朋七起千去人认日三上谁什生师识是他她台天湾万王我ǒ五西息系先香想小谢姓休ū学也亿英ī友ǒ月è再张ā这中字",
  matrix = str.split("");

let font = 11,
  col = W / font,
  arr = [];

for (let i = 0; i < col; i++) arr[i] = 1;

function draw() {
  $.fillStyle = "rgba(0,0,0,.05)";
  $.fillRect(0, 0, W, H);
  $.fillStyle = "#0f0";
  $.font = font + "px system-ui";
  for (let i = 0; i < arr.length; i++) {
    let txt = matrix[Math.floor(Math.random() * matrix.length)];
    $.fillText(txt, i * font, arr[i] * font);
    if (arr[i] * font > H && Math.random() > 0.975) arr[i] = 0;
    arr[i]++;
  }
}

setInterval(draw, 123);

window.addEventListener("resize", () => location.reload());

</script>



</body>


</html>